<!-- <ul>
  <li>
    Credit card: <span>{{ transaction.credit_card.card_number }}</span>
  </li>
  <li>
    amount: <span>{{ transaction.amount }}</span>
  </li>
  <li>
    Currency: <span>{{ transaction.currency }}</span>
  </li>
  <li>
    Comment: <span>{{ transaction.comment }}</span>
  </li>
  <li>
    Date: <span>{{ transaction.date }}</span>
  </li>
</ul>
<button (click)="deleteTransaction(transaction.uid)">Delete</button> -->

<mat-card>
  <mat-card-title
    >Card Number: {{ transaction.credit_card.card_number }}</mat-card-title
  >
  <mat-card-subtitle>Date: {{ transaction.date }}</mat-card-subtitle>
  <mat-card-content>
    Amount: {{ transaction.amount }}
    {{ transaction.currency }}</mat-card-content
  >
  <mat-card-actions>
    <button mat-button (click)="deleteTransaction(transaction.uid)">
      Delete
    </button>
  </mat-card-actions>
  <mat-card-footer> {{ transaction.comment }} </mat-card-footer>
</mat-card>
