<div>
  <mat-card>
    <mat-card-title
      >Amount: {{ transaction.amount | number: "1.0-2" }}
      {{ transaction.currency }}
    </mat-card-title>
    <mat-card-subtitle
      >Date: {{ transaction.date | date: "fullDate" }}</mat-card-subtitle
    >
    <mat-card-content
      >Card Number: {{ transaction.credit_card.card_number }}
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="deleteTransaction(transaction.uid)"
      >
        Delete
      </button>
    </mat-card-actions>

    <mat-card-footer *ngIf="transaction.comment">
      Comment: {{ transaction.comment }}
    </mat-card-footer>
  </mat-card>
</div>
