/* div {
  background-color: lightsalmon;
  width: 100%;
} */

/*
For inspiration https://www.w3schools.com/css/css_navbar_horizontal.asp
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  /* display: table; */
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #04aa6d on hover */
li a:hover {
  background-color: #04aa6d;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  height: 2px;
}
