<p>Hello</p>
<form [formGroup]="creditCardForm" (ngSubmit)="addCreditCard()">
  <div class="form-wrapper">
    <label for="card_number">Card number: </label>
    <input type="number" formControlName="card_number" />
    <div *ngIf="card_number.invalid">
      <div *ngIf="card_number.errors?.required">Field is required</div>
      <div *ngIf="card_number.errors?.min?.min">
        Must be at least {{ card_number.errors?.min?.min }}
      </div>
      <div *ngIf="card_number.errors?.max?.max">
        Must be less than {{ card_number.errors?.max?.max }}
      </div>
    </div>
    <hr />
    <label for="cardholder_name">Name: </label>
    <input type="text" formControlName="cardholder_name" />
    <div *ngIf="cardholder_name.invalid">
      <div *ngIf="cardholder_name.errors?.required">Field is required</div>
    </div>
    <hr />
    <label for="csc_code">CSC: </label>
    <input type="number" formControlName="csc_code" />
    <div *ngIf="csc_code.invalid">
      <div *ngIf="csc_code.errors?.required">Field is required</div>
      <div *ngIf="csc_code.errors?.min?.min || csc_code.errors?.max?.max">
        Must have length 3
      </div>
    </div>
    <hr />
    <label for="expiration_date_month">Expiration date month: </label>
    <input type="number" formControlName="expiration_date_month" />
    <div *ngIf="expiration_date_month.invalid">
      <div *ngIf="expiration_date_month.errors?.required">
        Field is required
      </div>
      <div
        *ngIf="
          expiration_date_month.errors?.min?.min ||
          expiration_date_month.errors?.max?.max
        "
      >
        Must be between
        {{ expiration_date_month.errors?.min?.min }} and
        {{ expiration_date_month.errors?.max?.max }}
      </div>
    </div>
    <hr />
    <label for="expiration_date_year">Expiration date year: </label>
    <input type="number" formControlName="expiration_date_year" />
    <div *ngIf="expiration_date_year.invalid">
      <div *ngIf="expiration_date_year.errors?.required">Field is required</div>
      <div
        *ngIf="
          expiration_date_year.errors?.min?.min ||
          expiration_date_year.errors?.max?.max
        "
      >
        Must be between
        {{ expiration_date_year.errors?.min?.min }} and
        {{ expiration_date_year.errors?.max?.max }}
      </div>
    </div>
    <hr />
    <label for="issuer">Issuer: </label>
    <input type="text" formControlName="issuer" />
    <hr />
    <button type="submit" [disabled]="creditCardForm.invalid">
      Add credit card
    </button>
  </div>
</form>
<!-- <pre>
  errors:
  {{ csc_code.errors | json }}
</pre> -->
