<h1 class="md-headline">Credit card:</h1>
<div *ngIf="creditCard$ | async as creditCard">
  <mat-card>
    <mat-card-title>Card Number: {{ creditCard.card_number }}</mat-card-title>
    <mat-card-subtitle
      >Cardholder name: {{ creditCard.cardholder_name }}</mat-card-subtitle
    >
    <mat-card-content> CSC code: {{ creditCard.csc_code }}</mat-card-content>
    <mat-card-content>
      Expiration date:
      {{ creditCard | expiration | date: "MM/yy" }}</mat-card-content
    >
    <mat-card-content> Issuer: {{ creditCard.issuer }}</mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="deleteCreditCard(creditCard)"
      >
        Remove
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<hr />

<h1 class="md-headline">Transactions:</h1>
<div style="overflow-y: scroll; height: 400px">
  <transaction-list-item
    *ngFor="let transaction of transactions$ | async; index as i"
    [transaction]="transaction"
  >
  </transaction-list-item>
</div>
