<h1>Transaction Overview</h1>

<div fxLayout="row" fxLayoutAlign="center">
  <mat-form-field appearance="fill">
    <mat-label>Card number</mat-label>
    <mat-select
      id="card_number"
      (selectionChange)="filterTransactions($event.value)"
    >
      <mat-option
        *ngFor="let creditCard of creditCards$ | async"
        [value]="creditCard.card_number"
      >
        {{ creditCard.card_number }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="addTransaction()">Add Transaction</button>
</div>
<hr />
<div style="overflow-y: scroll; height: 400px">
  <transaction-list-item
    *ngFor="let transaction of transactions$ | async; index as i"
    [transaction]="transaction"
  >
  </transaction-list-item>
</div>
